
.section-animals{
    padding-top: 40px;
    padding-bottom: 60px;


    &__image-unknown{
        opacity: 1;
        transition: all .5s;
        transition: all .5s ease-in-out;
        cursor: pointer;
        &:hover{
            transform:  scale(1.08);
        }
    }

    &__image-animal{
        opacity: 0;
        display: none;
    }



}